.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.header__link {
  font-size: var(--size-2xl);
  text-decoration: none;
  font-weight: 600;
  color: var(--clr-red);
  font-family: "Teko";
}

/* lg */
@media (min-width: 1024px) {
  .header {
    justify-content: space-around;
  }
}
